<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title.present? ? :title : 'Dummy' %></title>
  <%= yield :head %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
asdf
<%= yield %>

</body>
</html>
